a {
    border-color: rgb(37, 142, 215);
    border-color: rgb(31, 119, 180);
    background-color: rgb(255, 152, 17);
    background-color:  rgb(255, 127, 14);

    background-color: rgb(255, 181, 20);

    background-color: rgb(35, 131, 35);

    background-color: rgb(53, 191, 53);

    background-color: rgba(72, 195, 54, 0.77);

    background-color: rgb(179, 33, 34);

    background-color: rgb(216, 46, 47);

    background-color: rgb(255, 56, 57);

    background-color: rgba(255, 83, 85, 0.88);

    background-color: rgba(255, 126, 114, 0.75);
}